<div class="container">
  <div class="heading-banner">
    <div class="heading-text">
      <h1 class="heading" id="headingUpper"></h1>
      <h2 class="heading" id="headingLower"></h2>
    </div>
    <!--<%= image_tag "ProfilePicture.jpg" , class:"picture-profile"%> -->
  </div>
</div>
