<a id="top-tag"></a>
<section class="section" id="sectionhome">
  <div class="navbarcontainer" id="navbarcontainer">
    <div class="linkscontainer" id="linkscontainer">
      <ul class="linklist">
        <div class="link" id="linkone">
          <li>
            <i class="fa-solid fa-person-digging icon paddingright"></i>
            <a href="#sectionProjects" class="navlinkhover">Projects</a>
          </li>
        </div>
        <div class="link" id="linktwo">
          <li>
            <i class="fa-solid fa-house icon paddingright"></i>
            <a href="#top-tag" class="navlinkhover">Home </a>
          </li>
        </div>
        <div class="link" id="linkthree">
          <li>
            <i class="fa-solid fa-address-book icon paddingright"></i>
            <a href="#sectionContact" class="navlinkhover">Contact</a>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="homepagecontainer">
    <div class="homeleftpanel">
      <div class="homeheading">
        <span id="nameheading" class="sentence"></span>
        <span  id="namecursor"></span>
      </div>
      <div class="homeheading">
        <span id="jobtitleheading" class="sentence"></span>
        <span id="jobtitlecursor"></span>
      </div>
      <div class="image" id="homeimage">
        <%= image_tag ("ProfilePicture.jpg"), :height=> "100%", class: "roundedcorners"%>
      </div>
      <div class="introtext" id="introtext">
      </div>
    </div>
    <div class="homerightpanel">
      <div class="stackpanel" id="stackpanel">
        <% @technologies.each do |tech| %>
          <div class="techcard">
            <div class="techname">
              <%= tech %>
            </div>
          </div>
        <% end  %>
      </div>
    </div>
  </div>
</section>
<section class="section" id="sectionproject">
  <div class="projectstitle">
    <h2 id="projectname">
      Projects
    </h2>
  </div>
  <div class="projectselcetor">
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>
<section class="section" id="sectioncontact">
</section>
