<div class="container">
  <div class="heading-banner">
    <div class="heading-text">
      <h1 class="heading">Hello, I'm Chris</h1>
      <h2 class="heading">I build things for the web</h2>
    </div>
    <%= image_tag "ProfilePicture.jpg" , class:"picture-profile"%>
  </div>
</div>
