<a id="top-tag"></a>
<div class="container">
  <section class="section" id="sectionHome">
    <div class="heading-banner text-padding-left">
      <div>
        <h1 class="heading" id="headingUpper"></h1>
        <h2 class="heading" id="headingLower"></h2>
      </div>
    </div>
    <div class="intro-text">
      <h3 class="intro text-padding-left" id="introText"></h3>
    </div>
    <div class="stack-container">
      <%# calls each tech within database making a card comprimising of name and image allocated within images/stack %>
      <% @technologies.each do |tech|  %>
        <div class="tech-card">
          <div class="tech-name">
            <%= tech.name %>
          </div>
          <div class ="tech-image-container">
            <%= image_tag tech.logo, class: "tech-image"%>
          </div>
        </div>
      <% end %>
    </div>
  </section>
  <section class="section" id="sectionAbout">

  </section>
  <section class="section" id="sectionProjects">
    <a href="">section2</a>
    <div class="projectsContainer">
      <%= @display_projects %>
      <div class="project-card">
        <div class ="project-name"></div>
      </div>
      <div class ="project-description">
      </div>
      <div class ="project-image"></div>
    </div>
  </section>
  <section class="section" id="sectionContact">
    <a href="">section 4</a>
  </section>
</div>
