<section class="section" id="sectionhome">
  <div class="navbarcontainer" id="navbarcontainer">
    <div class="linkscontainer">
      <ul class="linklist">
        <div class="link">
          <li>
            <i class="fa-solid fa-person-digging icon"></i>
            <a href="#sectionProjects" class="navlinkhover">Projects</a>
          </li>
        </div>
        <div class="link">
          <li>
            <i class="fa-solid fa-house icon"></i>
            <a href="#top-tag" class="navlinkhover">Home </a>
          </li>
        </div>
        <div class="link">
          <li>
            <i class="fa-solid fa-address-book icon"></i>
            <a href="#sectionContact" class="navlinkhover">Contact</a>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="pagecontainer">
    <div class="homeleftpanel">
      <div class="homeheading" id="nameheading">
      </div>
      <div class="homeheading" id="jobtitleheading">
      </div>
      <div class="introtext" id="introtext">
      </div>
    </div>
    <div class="homerightpanel">
      <div class="stackpanel">
        <% @technologies.each do |tech| %>
        <% end  %>
      </div>
    </div>
  </div>
</section>
<section class="section" id="sectioncontact">
  <a href="">section projects</a>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
  <div>gg</div>
</section>
