<a id="top-tag"></a>
<section class="section" id="sectionhome">
  <div class="navbarcontainer" id="navbarcontainer">
    <div class="linkscontainer">
      <ul class="linklist">
        <div class="link" id="linkone">
          <li>
            <i class="fa-solid fa-person-digging icon"></i>
            <a href="#sectionProjects" class="navlinkhover">Projects</a>
          </li>
        </div>
        <div class="link" id="linktwo">
          <li>
            <i class="fa-solid fa-house icon"></i>
            <a href="#top-tag" class="navlinkhover">Home </a>
          </li>
        </div>
        <div class="link" id="linkthree">
          <li>
            <i class="fa-solid fa-address-book icon"></i>
            <a href="#sectionContact" class="navlinkhover">Contact</a>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="homepagecontainer">
    <div class="homeleftpanel">
      <div class="homeheading" id="nameheading">
      </div>
      <div class="homeheading" id="jobtitleheading">
      </div>
      <div class="introtext" id="introtext">
      </div>
    </div>
    <div class="homerightpanel">
      <div class="stackpanel" id="stackpanel">
        <% @technologies.each do |tech| %>
          <div class="techcard">
            <div class="techname">
              <%= tech.name %>
            </div>
            <div class="techlogo">
              <%= image_tag (tech.logo), class: "techlogo"%>
            </div>
          </div>
        <% end  %>
      </div>
    </div>
  </div>
</section>
<section class="section" id="sectioncontact">
  <div class="projectstitle">
    <h2 id="projectname">
      Projects
    </h2>
  </div>
  <div class="navcontainer">
    <div class="projectnavigation">
      <div class="navleft">
        <i class="fa-solid fa-arrow-left navarrow" id="navleftarrow"></i>
      </div>
      <div class="title">
        <h2 >
          Projects title
        </h2>
      </div>
      <div class="navright">
        <i class="fa-solid fa-arrow-right navarrow" id="navrightarrow"></i>
      </div>
    </div>
  </div>
</section>
