<div class="container">
  <section class="section" id="sectionHome">
    <div class="heading-banner ">
      <div>
        <h1 class="heading" id="headingUpper"></h1>
        <h2 class="heading" id="headingLower"></h2>
      </div>
    </div>
    <div class="intro-text">
      <h3 class="intro" id="introText"></h3>
    </div>
  </section>
  <section class="section" id="sectionProjects">
    <div class="projectsContainer">
      <div class="Recipeasy-card">
        <div class ="project-name"></div>
      </div>
      <div class ="project-description">
      </div>
      <div class ="project-image"></div>
    </div>
    <div class="stackContainer">
    </div>
  </section>
  <section class="section" id="sectionContact">
    <a href="">section 4</a>
  </section>
</div>
