<div class="container">
  <section class="section" id="sectionHome">
    <div class="heading-banner text-padding-left">
      <div>
        <h1 class="heading" id="headingUpper"></h1>
        <h2 class="heading" id="headingLower"></h2>
      </div>
    </div>
    <div class="intro-text">
      <h3 class="intro text-padding-left" id="introText"></h3>
    </div>
  </section>
  <section class="section" id="sectionAbout">
    <div class="aboutContainer">
    </div>
  </section>
  <section class="section" id="sectionExperience">
    <a href="">section 2</a>
  </section>
  <section class="section" id="sectionWork">
    <a href="">section 3</a>
  </section>
  <section class="section" id="sectionContact">
    <a href="">section 4</a>
  </section>
</div>
