<div class="container">
  <section class="section" id="sectionHome">
    <div class="heading-banner ">
      <div>
        <h1 class="heading" id="headingUpper"></h1>
        <h2 class="heading" id="headingLower"></h2>
      </div>
    </div>
    <div class="intro-text">
      <h3 class="intro" id="introText"></h3>
    </div>
  </section>
  <section class="section" id="sectionProjects">
    <div class="projectsContainer">
      <div class="Recipeasy-card">
      </div>
      <div class="git-box" style=>
        <div class="commit-cards-container">
          <% @commit_details.each do |date_time, owner, message| %>
            <div class= "commit-card">
              <div class="card-container">
                <div class="name-date">
                  <div class="commit-content" id="commit-owner">
                    <%= date_time %>
                  </div>
                  <div class="commit-content" id="commit-date">
                    <%= owner %>
                  </div>
                </div>
                <div class="commit-content" id="commit-message">
                  <%= message %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
    <section class="section" id="sectionContact">
      <a href="">section 4</a>
    </section>
  </div>
