<div class="navbar-container" id="navbar-container">
  <div class="links-container">
    <ul class="link-list">
      <div class="link">
        <li>
          <i class="fa-solid fa-person-digging icon"></i>
          <a href="#sectionProjects" class="nav-link-hover">Project</a>
        </li>
      </div>
      <div class="link">
        <li>
          <i class="fa-solid fa-house icon"></i>
          <a href="#top-tag" class="nav-link-hover">Home </a>
        </li>
      </div>
      <div class="link">
        <li>
          <i class="fa-solid fa-address-book icon"></i>
          <a href="#sectionContact" class="nav-link-hover">Contact</a>
        </li>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="section" id="sectionHome">
      <a href="">section 1</a>
    </section>
    <section class="section" id="sectionProjects">
      <section class="section" id="sectionContact">
        <a href="">section 4</a>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
        <div>gg</div>
      </section>
    </div>
