@import "config/colours";

#sectioncontact {}

#contacttitle {
    padding-top: 20%;
}

.contactsectioncontainer {
    width: 90%;
    height: 90%;
    background-color: $secondary;
    margin: auto;
}

.buttoncv {
    background-color: $primary;
    margin: 20% auto 20% auto;
    width: 50%;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.49);

}

.contactfield {
    margin: auto;
    width: 40vw;
}

.contactheader {
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: $primary;
    font-size: 1.5vh;
}

.contactformcontainer {
    margin: auto;
    width: 100%;
    padding-top: 4vh;
    text-align: center;
}

.contactformheader {
    font-family: 'Ubuntu', sans-serif;
    color: $primary;
    font-size: 2.5vh;
    margin: 0;
    padding-bottom: 0.25vh;
    padding-top: 1vh;
}

.namenumber {
    width: 100%;
}



.emailsection {
    width: 100%;
}

.fullwidthbox {
    width: 100%;
}

.inputboxwidth {
    width: 80%;
    background-color: $secondary;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: $primary;
    margin: 2vh auto 3vh auto;
    font-size: 2.5vh;
    font-family: 'Titillium Web', sans-serif;
    border-width: thin;
    color: $tertiary;
}

.messagebox {
    width: 100%;
    background-color: $secondary;
    font-size: 2.5vh;
    font-family: 'Titillium Web', sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: $primary;
    border-width: thin;
    color: $tertiary;
}

.contactsubmit {
    background-color: $primary;
    color: $tertiary;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 6vw;
    padding-right: 6vw;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5vh;
    border-radius: 5%;
    border-style: none;
}

.messagebox:focus {
    outline: $secondary;
}

input:focus {
    outline: $secondary;

}

.submitsection {
    padding-top: 4vh;
}

////////////-------------------- Media Queries --------------------////////////

@media only screen and (min-width: 600px) and (max-width: 767px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contactsectioncontainer {
        display: flex;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .contactsectioncontainer {
        display: flex;
    }
}