@import "config/colours";

#sectioncontact {
    display: none;
}


.stackpanel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    background-color: $secondary;
    padding-bottom: 3vh;
    bottom: 0;
    height: 15%;
    margin: auto;
    justify-content: space-evenly;
    text-align: left;

    .techcard {
        display: flex;
        margin-bottom: 5%;
        background-color: $secondary;
        align-items: center;
        justify-content: space-between;
        padding-top: 1vh;
        width: 26vw;
        margin: auto;
    }


    .techlogo {
        height: 2vh;
        vertical-align: middle;
    }

    .techname {
        display: flex;
        margin-top: 1%;
        font-size: 2vh;
        font-family: 'Titillium Web', sans-serif;
        color: $primary;
        font-weight: 300;
    }


}

.mystack {
    font-family: 'Ubuntu', sans-serif;
    color: $primary;
    font-size: 3vh;
    text-align: center;
    margin-top: 2vh;

}

.contactfield {
    margin: auto;
    width: 40vw;
}

.contactheader {
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: $primary;
    font-size: 1.5vh;
}

.contactformcontainer {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactformheader {
    font-family: 'Ubuntu', sans-serif;
    color: $primary;
    font-size: 2.5vh;
    margin: 0;
    padding-bottom: 0.25vh;
    padding-top: 1vh;
}

.namenumber {
    width: 100%;
}



.emailsection {
    width: 100%;
}

.fullwidthbox {
    width: 100%;
}

.inputboxwidth {
    width: 50vw;
}

.messagebox {
    width: 60vw;
    height: 8vh;
}

.contactsubmit {
    background-color: $primary;
    color: $tertiary;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 6vw;
    padding-right: 6vw;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vh;
    border-radius: 5%;
    border-style: none;
}

.submitsection {
    padding-top: 2vh;
}