@import "config/colours";

#sectioncontact {}

.contactsectioncontainer {
    width: 90%;
    height: 90%;
    background-color: $secondary;
    display: inline-block;
    margin: auto;
}

.abouttext {
    font-size: 16px;
    width: 90%;
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
    color: $primary;

}

.contactfield {
    margin: auto;
    width: 40vw;
}

.contactheader {
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: $primary;
    font-size: 1.5vh;
}

.resumebutton {
    width: 40%;
    height: 80%;
    background-color: $primary;
    margin: auto;

}

.contactformcontainer {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactformheader {
    font-family: 'Ubuntu', sans-serif;
    color: $primary;
    font-size: 2.5vh;
    margin: 0;
    padding-bottom: 0.25vh;
    padding-top: 1vh;
}

.namenumber {
    width: 100%;
}



.emailsection {
    width: 100%;
}

.fullwidthbox {
    width: 100%;
}

.inputboxwidth {
    width: 70%;
    background-color: $secondary;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: $primary;
    margin-bottom: 3vh;
    margin-top: 2vh;
    font-size: 2.5vh;
    font-family: 'Titillium Web', sans-serif;
    border-width: thin;
    color: $tertiary;
}

.messagebox {
    width: 75%;
    background-color: $secondary;
    font-size: 2.5vh;
    font-family: 'Titillium Web', sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: $primary;
    border-width: thin;
    color: $tertiary;
}

.contactsubmit {
    background-color: $primary;
    color: $tertiary;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 6vw;
    padding-right: 6vw;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vh;
    border-radius: 5%;
    border-style: none;
}

.messagebox:focus {
    outline: $secondary;
}

input:focus {
    outline: $secondary;

}

.submitsection {
    padding-top: 4vh;
}

////////////-------------------- Media Queries --------------------////////////

@media only screen and (min-width: 600px) and (max-width: 767px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contactsectioncontainer {
        display: flex;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .contactsectioncontainer {
        display: flex;
    }
}