@import "config/colours";



// makes sections 100% of viewport
html,
body,
section {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: $secondary;
}

section {
    min-height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

// container for all pages
.homepagecontainer {
    margin: 5%;
}

//caret for type effect
.inputcursorname,
.inputcursorjobtitle {
    display: inline-block;
    width: 3px;
    height: 22px;
    background-color: black;
    margin-left: 0px;
    animation: blink .4s linear infinite alternate;

}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.backgroundblack {
    width: 100%;
    background-color: black;
}



.homeleftpanel {
    padding-top: 15%;
    margin: auto;
}

.homerightpanel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeheading {
    color: $primary;
    font-size: 4vh;
    font-family: 'Rajdhani', sans-serif;
    height: 2.25rem;
    padding-bottom: 1vh;
    text-align: center;
}

#introtext {
    padding-top: 3%;
    font-size: 2vh;
    color: $primary;
    font-family: 'Varela Round', sans-serif;
    position: fixed;
    width: 100%;
    margin: auto;
    text-align: center;
}

.techlogo {
    height: 2vh;
    vertical-align: middle;
}

.techname {
    margin-top: 1%;
    font-size: 2.5vh;
    font-family: 'Varela Round', sans-serif;
    color: $secondary;
    font-weight: bold;
    padding-left: 1vh;
    padding-right: 1vh;
}

.roundedcorners {
    border-radius: 10%;
}

.techcard {
    display: flex;
    margin-bottom: 10%;
    background-color: $primary;
    border-radius: 13%;
    padding-top: 10%;
}

#homeimage {
    display: none;
}

.image {
    height: 15vh;
    width: 25vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5vh;
}

.stackpanel {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute !important; //overides position relative
    bottom: 0;
    width: 100%;
    place-items: center;
    background-color: $primary;

}

//---------------------------- Media Queries ----------------------------//
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}