@import "config/colours";



// makes sections 100% of viewport
html,
body,
section {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: $tertiary-grey;
}

section {
    min-height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

// container for all pages
.homepagecontainer {
    margin: 5%;
}

.backgroundblack{
  width: 100%;
  background-color: black;
}



.homeleftpanel {
    padding-top: 12%;
    height: 10rem;
    margin: auto;
}

.homerightpanel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeheading {
    color: $primary-blue;
    font-size: 4vh;
    font-family: 'Rajdhani', sans-serif;
    height: 2.25rem;
    padding-bottom: 1vh;
    text-align: center;
}

#introtext {
    padding-top: 3%;
    font-size: 2vh;
    color: $secondary-yellow;
    font-family: 'Varela Round', sans-serif;
    position: fixed;
    width: 100%;
    margin: auto;
    text-align: center;
}

.techlogo {
    height: 2vh;
    vertical-align: middle;
}

.techname {
    width: 7rem;
    margin-top: 1%;
    font-size: 2vh;
    font-family: 'Varela Round', sans-serif;
    color: $primary-blue;
    font-weight: bold;
}

.techcard {
    display: flex;
    margin-bottom: 15%;

}


.stackpanel {
    display: none;
    grid-template-columns: 1fr 1fr;
    position: absolute !important; //overides position relative
    bottom: 0;
    width: 100%;
    place-items: center;

}

//---------------------------- Media Queries ----------------------------//
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
