@import "config/colours";

.projectscontainer {
  height: 95vh;
  width: 95vw;
  margin: auto;
}

.projectstitle {
  text-align: center;
  color: $tertiary;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
  font-size: 2vh;

}

.projectcard {
  width: 90%;
  margin-top: 10%;
  margin: auto;
  color: aqua;
  height: 10vh;
}

.projectimage {
  height: 2vh;
  width: 2vh;
}