@import "config/colours";


.projecttitle {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5vh;
    padding-bottom: 5vh;
    padding-top: 4vh;
    color: $primary;
}


.projectimage {
    width: 70%;
    height: 18vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectlinks {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;


}

.linkcard {
    background-color: $primary;
    border-radius: 5%;
    padding: 1vh;
    font-size: 1.75vh;
    width: 6vw;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.49);

    a {
        color: $tertiary;
    }

}

.builttitle {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: $primary;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.buildstack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2vh;
    width: 95%;
}

.techcard {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    padding-bottom: 1vh;

    .techname {
        width: 3vw;
        font-family: 'Titillium Web', sans-serif;
    }

    .techlogo {
        height: 2vh;
        width: 2vw;
    }
}

.projectdescription {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: $tertiary;
    width: 90%;
    margin: auto;
    font-size: 2vh;
    margin-top: 3vh;
    margin-bottom: 4vh;
}


.git-box {
    width: 90%;
    background-color: $secondary;
    height: 20rem;
    border-radius: 1%;
    overflow: auto;
    scrollbar-color: $secondary $tertiary;
    margin: auto;
    margin-bottom: 3vh;
}

.commit-cards-container {
    margin: auto;
    width: 95%;
    font-size: 1.5vh;
}

.card-container {
    margin: 3%;
}

.commit-card {
    background-color: $primary;
    border-radius: 1%;
    margin: auto;
    width: 85%;
    height: 10%;
    padding-bottom: 1rem;
    margin-top: 2rem;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 3px 3px 3px black;
    overflow: auto;


}

.git-log-title {
    text-align: center;
    width: 72%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: $primary;
    font-size: 150%;

}

.commit-card {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.commit-card:hover {
    top: -0.75rem;
}

.git-box a {
    text-decoration: none;
}



#commit-message {
    color: $tertiary;
}


.name-date {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 0.25rem;
    color: $secondary;
}

////////////-------------------- Media Queries --------------------////////////

@media only screen and (min-width: 600px) and (max-width: 767px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}