@import "config/colours";

img {
  border-radius: 2% 2% 0 0;
}

.fit-image {
  width: 100%;
  height: 100%;
}

.linkcoloursecondary {
  color: $secondary;
  font-size: 2rem;
}

.linkcoloursecondary:hover {
  color: $tertiary;
}

#sectionproject {
  display: none;
}

.projectscontainer {
  width: 90vw;
  margin: auto;
}

.projectstitle {
  text-align: center;
  color: $tertiary;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2vh;

}

.stackheading {
  margin: auto;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: $primary;

}

.projectcard {
  width: 90%;
  margin: auto;
  height: 70%;
  margin-top: 5vh;
  background-color: $secondary;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
  margin-bottom: 4vh;

  .projectimage {
    width: 100%;
    height: 40vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }



  .linksnamecontainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 2vh;
  }

  .projectcardlinks {
    margin: auto 0 auto 0;
    font-size: 2.5vh;
    width: 45%;
    display: flex;
    justify-content: space-between;
    color: $secondary;
  }

  .projectname {
    font-family: 'Ubuntu', sans-serif;
    color: $secondary;
    font-size: 2.5vh;
  }

  .descriptionshort {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: $tertiary;
    font-size: 16px;
    padding-bottom: 5%;
    width: 90%;
    margin: 5% auto 0 auto;
  }


}

.darkgrey {
  background-color: $primary;
  height: 9rem;
}

.projectstack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  margin: auto;
  height: 12rem;
}

.techcard {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding-bottom: 1vh;

  .techname {
    width: 3vw;
    font-family: 'Titillium Web', sans-serif;
    color: $primary;
  }

  .techlogo {
    height: 1rem;
    width: 2vw;
    margin: auto 0 auto 0;
  }
}

////////////-------------------- Media Queries --------------------////////////

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .projectcard {
    width: 70%;

    .projectimage {
      height: 33vw;
    }

    .projectcardlinks {
      width: 25%;
    }
  }


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .projectcard {
    width: 70%;

    .projectimage {
      height: 33vw;
    }

    .projectcardlinks {
      width: 25%;
    }
  }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .projectscontainer {
    display: flex;
  }

  .projectcard {
    width: 32%;

    .projectimage {
      height: 15vw;
    }

    .projectcardlinks {
      width: 25%;
    }
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .projectscontainer {
    display: flex;
  }

  .projectcard {
    width: 30%;

    .projectimage {
      height: 13vw;
    }

    .projectcardlinks {
      width: 25%;
    }
  }

  .techcard {
    .techlogo {
      height: 1.5rem;
    }
  }
}