@import "config/colours";

.projectscontainer {
  height: 95vh;
  width: 90vw;
  margin: auto;
}

.projectstitle {
  text-align: center;
  color: $tertiary;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
  font-size: 2vh;

}

.projectcard {
  width: 90%;
  margin: auto;
  color: aqua;
  height: 70%;

  .projectimage {
    height: 10vh;
    width: 15vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projectname {
    text-align: center;
    text-decoration: none;
  }

  .descriptionshort {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: $tertiary;

  }
}