@import "config/colours";

.footer {
    width: 100%;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    height: 6%;
    border-top: thin;
    border-color: $tertiary;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.footerheading {
    color: $tertiary;
    font-size: 90%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    padding-right: 2vw;
    margin: auto 0 auto 0;
    text-align: right;
}

.footerlistlinks {
    font-size: 4vh;
    display: flex;
    margin-top: auto;
    margin: auto;
    margin-left: 2vw;
    padding-left: 0;
    width: 8%;
    justify-content: space-between;
    margin-right: 10%;
}

.footerlinkicon {
    font-size: 200%;
    color: $tertiary;
    vertical-align: middle;
    margin-right: 1rem;
}

////////////-------------------- Media Queries --------------------////////////

@media only screen and (min-width: 600px) and (max-width: 767px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footerlistlinks {
        width: 7%;
    }

    .footerheading {
        font-size: 100%;
    }

    .footerlinkicon {
        font-size: 200%;
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footerlistlinks {
        width: 5%;
    }

    .footerheading {
        font-size: 120%;
    }

    .footerlinkicon {
        font-size: 200%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .footerlistlinks {
        width: 5%;
    }

    .footerheading {
        font-size: 120%;
    }

    .footerlinkicon {
        font-size: 200%;
    }
}