@import "config/colours";

.footer {
    width: 100%;
    background-color: $primary;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
}

.footerheading {
    color: $tertiary;
    font-size: 1.5vh;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    padding-right: 2vw;
}

.footerlistlinks {
    font-size: 4vh;
    display: flex;
    margin-top: 0vh;
    margin-left: 1vw;
    padding-left: 0;
}

.footerlinkicon {
    font-size: 3vh;
    color: $tertiary;
    vertical-align: middle;
}

////////////-------------------- Media Queries --------------------////////////

@media only screen and (min-width: 600px) and (max-width: 767px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}