@import "config/colours";


.icon {
    color: $tertiary-grey;
}

.link {
    width: 18rem;
    align-items: center;
    justify-content: center;
}


.linklist {
    margin: 0%;
    padding-left: 0px;
    display: flex;
}

.navbarcontainer {
    width: 100%;
    display: none;
    background-color: #14213d;
    position: fixed;
    top: 0;
    transition: top 0.5s;
    box-shadow: 0 5px 0.75rem -4px rgba(0, 0, 0, 1);
    z-index: 1;

}

.linkscontainer {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin-bottom: 2%;
    margin-top: 2%;

}

li {
    display: inline-block;
    vertical-align: middle;
    font-size: 100%;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;

}


//underlining hover effect for nav links
.navlinkhover {
    position: relative;
    color: $secondary-yellow;
    text-decoration: none;
}

.navlinkhover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $secondary-yellow;
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.navlinkhover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



//---------------------------- Media Queries ----------------------------//

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .link {
        width: 7rem;
    }

    li {
        font-size: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

    .link {
        width: 11rem;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .link {
        width: 13rem;
    }

    li {
        font-size: 150%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    li {
        font-size: 170%;
    }

    .link {
        width: 14rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    li {
        font-size: 170%;
    }

    .linkscontainer {
        margin-top: 1%;
        margin-bottom: 1%;
    }
}