@import "config/colours";


.icon {
    color: $tertiary;
}

.link {
    width: 33.333333%;
    align-items: center;
    justify-content: center;
    display: none;
    position: relative;

    #linkone {
        justify-content: left;
        left: 0;

    }

    #linktwo {
        justify-content: center;
    }

    #linkthree {
        justify-content: right;
        right: 0;
    }
}


.linklist {
    padding-left: 0;
    width: 100%;
    display: inline-flex;

    margin: auto;
}

.navbarcontainer {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: $secondary;
    top: 0;
    transition: top 0.5s;
    z-index: 1;
    height: 6vh;

}



.bottomshadow {
    box-shadow: 0 5px 0.75rem -4px rgba(0, 0, 0, 1);
}

.linkscontainer {
    top: 0;
    height: 6vh;
    display: none;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2vh;
    background-color: $primary;
}

.paddingright {
    padding-right: 0.5rem;
}

li {
    display: flex;
    vertical-align: middle;
    font-size: 2vh;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    justify-content: space-between;
}



//underlining hover effect for nav links
.navlinkhover {
    position: relative;
    color: $tertiary;
    text-decoration: none;
}

.navlinkhover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $tertiary;
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.navlinkhover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



//---------------------------- Media Queries ----------------------------//
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}