// colours

$primary-blue: #14213d;
$secondary-yellow: #FCA311;
$tertiary-grey: #E5E5E5;
$white: #FFFFFF;

// imports

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

// page rules 

html {
    scroll-behavior: smooth;
    scrollbar-color: $secondary-yellow $white;
}

body {
    background-color: $primary-blue;
    margin: 0;
}

// sections of the homepage

.section {
    height: 95vh;
}

// ----------------------------------------  Home Section ----------------------------------------   //


#sectionHome {
    margin-top: 0;
}



.heading {
    font-family: 'Titillium Web', sans-serif;
    color: $secondary-yellow;
    font-size: 500%;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-text {
    text-align: center;
    width: 72%;
    margin: auto;
}

.skillsText {
    font-family: 'Titillium Web', sans-serif;
    color: $secondary-yellow;
}

.intro {
    font-family: 'Titillium Web', sans-serif;
    color: $tertiary-grey;
    font-size: 120%;
}



// ----------------------------------------  Project Section ----------------------------------------   //

#sectionProjects {
    margin-top: 0;
}

.skills-container {
    text-align: center;
    justify-content: space-between;
    color: $primary-blue;

}

.skills-list {

    ul {
        color: $primary-blue;
    }
}

#sectionProjects {
    background-color: #E5E5E5;

}

.projectsContainer {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 3%;
    justify-content: space-between;
}

.Recipeasy-card {
    padding-left: 1rem;
    width: 50%;
    background-color: $primary-blue;
    height: 28rem;
    border-radius: 1%;
}

.git-box {
    width: 40%;
    background-color: $tertiary-grey;
    height: 40rem;
    border-radius: 1%;
    overflow: auto;

}

.commit-cards-container {
    margin: auto;
    width: 95%;
}

.card-container {
    margin: 3%;
}

.commit-card {
    background-color: $primary-blue;
    border-radius: 1%;
    margin: auto;
    width: 85%;
    height: 20%;
    padding-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 3px 3px 3px;



}

#commit-message {
    color: $secondary-yellow;
}

.skills-container {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.name-date {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 0.25rem;
    color: #E5E5E5;

}

.skills {
    text-align: center;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 80%;
}

// ------------------------------------------ Media Queries ------------------------------------------ //

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .heading {
        font-size: 200%;
    }

    .intro-text {
        width: 90%;
    }

    #sectionHome {

        margin-top: 5%;
    }

    .image {
        height: 5rem;
        display: flex;
    }



    .stackContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }


    .tech-image {
        display: none;
    }

    .tech-name {
        font-size: 120%;
    }

    .tech-image {
        width: 40%;
        padding-top: 5%;
    }

    .tech-card {
        width: 5rem;
        border-radius: 10%;
    }

    .intro {
        font-size: 120%;
    }




}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .heading {
        font-size: 250%;
    }

    .heading-banner {
        padding-top: 5%;
    }


    #sectionHome {

        margin-top: 5%;
    }

    .stackContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .tech-image {
        width: 50%;
    }

    .tech-card {
        width: 5rem;
    }

    .tech-name {
        font-size: 120%;
    }

    .intro {
        font-size: 140%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .heading {
        font-size: 300%;
    }

    .heading-banner {
        padding-top: 5%;

    }


    .stackContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .tech-image {
        width: 50%;
    }

    .tech-card {
        width: 6rem;
    }

    .tech-name {
        font-size: 115%;
    }

    .intro {
        font-size: 150%;
    }
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .heading {
        font-size: 400%;
    }

    .heading-banner {
        padding-top: 2%;

    }

    #sectionHome {

        margin-top: 5%;
    }


    .stackContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-top: 3rem;
    }


    .tech-image {
        width: 45%;
    }

    .tech-card {
        width: 5rem;
    }

    .tech-name {
        font-size: 140%;
    }

    .intro {
        font-size: 140%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .heading {
        font-size: 500%;
    }

    .stackContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro {
        font-size: 180%;
    }
}