@import "config/colours";


// determines page lay out in regards to sections 
html,
body,
section {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

section {
    min-height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}