// colours

$primary-blue: #14213d;
$secondary-yellow: #FCA311;
$tertiary-grey: #E5E5E5;
$white: #FFFFFF;

// imports

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

// page rules 

html {
    scroll-behavior: smooth;
    scrollbar-color: $secondary-yellow $white;
}


#top-tag {
    top: 0;
}

body {
    background-color: $primary-blue;
}

// ----------------------------------------  Home Section ----------------------------------------   //

#sectionHome {
    margin-left: 15%;
    margin-top: 5%;
}

.body {
    margin-left: 0;
    margin-right: 0;

}

.container {
    margin: 1%;
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: $secondary-yellow;
    font-size: 500%;
    margin-bottom: 0;
    margin-top: 0;
}

.heading-banner {
    display: flex;
    justify-content: left;
    margin-top: 8%;
}

.intro-text {
    justify-content: left;
    width: 80%;
}



.intro {
    font-family: 'Titillium Web', sans-serif;
    color: $tertiary-grey;
    font-size: 130%;
}

// sections of the homepage

.section {
    height: 95vh;
}

// ----------------------------------------  About Section ----------------------------------------   //



.aboutContainer {
    margin: auto;
    padding-top: 10rem;
    width: 9 0%;
}

.image {
    height: 15rem;
}

.profile-picture {
    border-radius: 15%;
}

.aboutText {
    font-family: 'Titillium Web', sans-serif;
    color: $secondary-yellow;
    padding-left: 3rem;
    width: 60%;
    font-size: 120%;
    text-align: center;
}

.stack-container {
    margin-top: 5rem;
    display: flex;
    justify-items: center;
}

.tech-card {
    background-color: #E5E5E5;
    border-radius: 15%;
    margin: 0.25rem;
    width: 7rem;
    box-shadow: 3px 3px $secondary-yellow;
}

.tech-name {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: $primary-blue;
    font-size: 120%;
}

.tech-image {
    width: 50%;
    padding-top: 15%;
    padding-bottom: 5%;
}

.tech-image-container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

#sectionHome {
    margin-top: 0;
}




// ------------------------------------------ Media Queries ------------------------------------------ //

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .heading {
        font-size: 200%;
    }

    .heading-banner {
        padding-top: 5%;

    }

    .intro-text {
        justify-content: left;
        width: 90%;

    }

    #sectionHome {
        margin-left: 5%;
        margin-top: 5%;
    }

    .image {
        height: 5rem;
        display: flex;
    }

    .aboutContainer {
        padding-top: 3rem;
    }

    .profile-picture {
        margin: auto;
        height: 5rem;
    }

    .aboutText {
        width: 100%;
        padding-left: 0;
        padding-right: 2rem;
        font-size: 80%;
        margin: auto;
    }

    .stack-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top: 2rem;
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .aboutContainer {
        padding-top: 3rem;
    }

    .tech-image {
        width: 30%;
    }

    .tech-name {
        font-size: 80%;
    }

    .tech-image {
        width: 40%;
        padding-top: 5%;
    }

    .tech-card {
        width: 5rem;
        border-radius: 10%;
    }





}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .heading {
        font-size: 250%;
    }

    .heading-banner {
        padding-top: 5%;
        margin-left: 5%;

    }

    .intro-text {
        margin-left: 5%;
    }

    .text-left-padding {
        padding-left: 5%;
    }

    #sectionHome {
        margin-left: 5%;
        margin-top: 5%;
    }

    .aboutContainer {
        padding-top: 4rem;
        display: flex;
    }

    .aboutText {
        width: 100%;
        padding-left: 2rem;
        font-size: 85%;
    }

    .image {
        height: 5rem;
        display: flex;
        padding-top: 1rem;
        margin-left: 3rem;
    }

    .profile-picture {
        height: 10rem;
    }

    .stack-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .tech-image {
        width: 50%;
    }

    .tech-card {
        width: 6rem;
    }

    .tech-name {
        font-size: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .heading {
        font-size: 300%;
    }

    .heading-banner {
        padding-top: 5%;

    }

    .text-left-padding {
        padding-left: 5%;
    }

    .aboutContainer {
        display: flex;
        padding-top: 4rem;
        width: 90%
    }

    .profile-picture {
        height: 15rem;
    }

    .stack-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .image {
        padding-top: 2rem;
        padding-left: 0.5rem;
    }

    .tech-image {
        width: 50%;
    }

    .tech-card {
        width: 6rem;
    }

    .tech-name {
        font-size: 80%;
    }
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .heading {
        font-size: 400%;
    }

    .heading-banner {
        padding-top: 2%;

    }

    #sectionHome {
        margin-left: 15%;
        margin-top: 5%;
    }

    .aboutContainer {
        display: flex;
    }

    .profile-picture {
        height: 15rem;
    }

    .stack-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-top: 3rem;
    }

    .image {
        padding-top: 2rem;
        padding-left: 2rem;
    }

    .tech-image {
        width: 45%;
    }

    .tech-card {
        width: 5rem;
    }

    .tech-name {
        font-size: 90%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .heading {
        font-size: 500%;
    }

    .heading-banner {
        padding-top: 1%;

    }

    .aboutContainer {
        display: flex;
    }

    .profile-picture {
        height: 15rem;
        margin-left: 10rem;
    }

    .stack-container {
        display: flex;
        justify-content: center;
    }
}