@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

.container {
    margin: 5%;

}

.heading {
    font-family: 'Titillium Web', sans-serif;
}

.heading-banner {
    display: flex;
    justify-content: left;
    padding-left: 10%;
    padding-top: 10%;
}

.picture-profile {
    border-radius: 50%;
    height: 5%;
    width: 5%;
    padding-left: 5%;
}
