$primary-blue: #14213d;
$secondary-yellow: #FCA311;
$tertiary-grey: #E5E5E5;
$white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');


.navbar-container {
    top: 0;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    position: sticky; // spacing required


}

.navlinks {
    margin: auto;
    display: flex;

    ul {
        padding-left: 0;
        vertical-align: middle;
        width: auto;

    }
}



.navlinks li {
    right: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 150%;
    padding-right: 5rem;
    font-family: 'Titillium Web', sans-serif;
    align-items: center;
}

//underlining hover effect for nav links
.nav-link-hover {
    display: inline-block;
    position: relative;
    color: $tertiary-grey;
    text-decoration: none;
}

.nav-link-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $secondary-yellow;
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.nav-link-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



//---------------------------- Media Queries ----------------------------//

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navlinks {
        font-size: 50%;

        li {
            padding-right: 2rem;
        }
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .navlinks {
        font-size: 80%;

        li {
            padding-right: 3rem;
        }
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navlinks li {
        font-size: 100%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navlinks li {
        font-size: 130%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}