$primary-blue: #14213d;
$secondary-yellow: #FCA311;
$tertiary-grey: #E5E5E5;
$white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

.icon {
    color: $tertiary-grey;
}

.link {
    display: flex;
    width: 18rem;
    align-items: center;
    justify-content: center;
}

.link-list {
    margin: 0%;
    padding-left: 0px;
    display: flex;

}

.navbar-container {
    top: 0;
    height: 5%;
    display: flex;
    position: sticky; // spacing required
    background-color: #14213d;
    margin-top: 2%;
    margin-bottom: 3%;
    z-index: 100;

}

.links-container {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 65%;


}

li {
    display: inline-block;
    vertical-align: middle;
    font-size: 200%;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
}


//underlining hover effect for nav links
.nav-link-hover {
    position: relative;
    color: $secondary-yellow;
    text-decoration: none;
}

.nav-link-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $secondary-yellow;
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.nav-link-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



//---------------------------- Media Queries ----------------------------//

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .link {
        width: 7rem;
    }

    li {
        font-size: 130%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

    .link {
        width: 11rem;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .link {
        width: 13rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    li {
        font-size: 17 0%;
    }

    .link {
        width: 14rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}