<div class="navbarcontainer" id="navbarcontainer">
  <div class="linkscontainer" id="linkscontainer">
    <ul class="linklist">
      <div class="link" id="linkone">
        <li>
          <i class="fa-solid fa-person-digging icon paddingright"></i>
          <a href="#sectionprojects" class="navlinkhover">Projects</a>
        </li>
      </div>
      <div class="link" id="linktwo">
        <li>
          <i class="fa-solid fa-house icon paddingright"></i>
          <a href="#top-tag" class="navlinkhover">Home </a>
        </li>
      </div>
      <div class="link" id="linkthree">
        <li>
          <i class="fa-solid fa-address-book icon paddingright"></i>
          <a href="#bottom-tag" class="navlinkhover">Contact</a>
        </li>
      </div>
    </div>
  </div>
</div>
