<div class="navbarcontainer" id="navbarcontainer">
  <nav class="navbar" id="navbar">
    <a href="#sectionhome" class="nav-logo">CW</a>
    <ul class="nav-menu">
      <li class="nav-item ">
        <i class="fa-solid fa-house hamburgericon"></i>
        <a href="#sectionhome" class="nav-link hoverunderline">Home</a>
      </li>
      <li class="nav-item ">
        <i class="fa-solid fa-user hamburgericon"></i>
        <a href="#sectionabout" class="nav-link hoverunderline">About</a>
      </li>
         <li class="nav-item ">
        <i class="fa-solid fa-file hamburgericon"></i>
        <a href="Christopher Warner CV.pdf" class="nav-link hoverunderline" download>CV</a>
      </li>
      <li class="nav-item ">
        <i class="fa-solid fa-person-digging hamburgericon"></i>
        <a href="#sectionprojects" class="nav-link hoverunderline">Projects</a>
      </li>
      <li class="nav-item ">
        <i class="fa-solid fa-phone hamburgericon"></i>
        <a href="#sectioncontact" class="nav-link hoverunderline">Contact</a>
      </li>

    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</div>
