 <nav class="navbar">
  <a href="#" class="nav-logo">CW</a>
  <ul class="nav-menu">
    <li class="nav-item">
      <a href="#sectionhome" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="#sectionabout" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a href="#sectionprojects" class="nav-link">Projects</a>
    </li>
    <li class="nav-item">
      <a href="#sectioncontact" class="nav-link">Contact</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">CV</a>
    </li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>
