<div class="navbar-container">
  <div class="logo">
    <h1>nav</h1>
  </div>
  <div class="navlinks">
    <nav>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </div>
</div>
