<div class="navbar-container">
  <div class="logo">
    <%= image_tag "CwLogo.png" , class:"logo"%>
  </div>
  <div class="navlinks">
    <ul>
      <li>About</li>
      <li>Experience</li>
      <li>Work</li>
      <li>Contact</li>
      <li>CV</li>
    </ul>
  </div>
</div>
