<div class="navbar-container">
  <div class="navlinks">
    <ul>
      <li>
        <a href="#top-tag" class="nav-link-hover">Home</a>
      </li>
      <li>
        <a href="#sectionAbout" class="nav-link-hover">About</a>
      </li>
      <li>
        <a href="#sectionExperience" class="nav-link-hover">Experience</a>
      </li>
      <li>
        <a href="#sectionContact" class="nav-link-hover">Contact</a>
      </li>
      <li>
        <a href="#sectionAbout" class="nav-link-hover CV-link">CV</a>
      </li>
    </ul>
  </div>
</div>
